@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.site-footer {
  margin-top: auto;
}

.header-row {
  display: flex;
  flex-direction: row;
}

.header-col {
  display: flex;
  flex-direction: column;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 400;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.site-header .decorative-strip {
  background-color: #00AAAD;
  height: 36px;
  width: 100%;
}
.site-header .header-container {
  width: 1170px;
}
.site-header .header-container .header-wrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 95px;
}
.site-header .header-container .header-wrapper .header-item {
  display: flex;
  flex-direction: row;
}
.site-header .header-container .header-wrapper .header-item .site-logo {
  height: 50px;
}
.site-header .header-container .header-wrapper .header-item .icon {
  height: 22px;
}
.site-header .header-container .header-wrapper .header-item .icon-menu {
  height: 24px;
  width: 25px;
  margin-right: 10px;
}
.site-header .header-container .header-wrapper .header-item .section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
@media (max-width: 770px) {
  .site-header .header-container .header-wrapper .header-item .section p {
    display: none;
  }
}
.site-header .header-container .header-wrapper .left .section {
  margin-right: 15px;
}
.site-header .header-container .header-wrapper .right {
  font-size: 0.9em;
  font-weight: 500;
}
.site-header .header-container .header-wrapper .right .section {
  margin-left: 25px;
}
.site-header .header-container .header-wrapper .search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-header .header-container .header-wrapper .search-bar-container .search-bar-wrapper {
  width: 535px;
  height: 42px;
  background-color: #E0E0E0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}
.site-header .header-container .header-wrapper .search-bar-container .search-bar-wrapper .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 10px;
}
.site-header .header-container .header-wrapper .search-bar-container .search-bar-wrapper .icon-container .icon {
  height: 20px;
}
.site-header .header-container .header-wrapper .search-bar-container .search-bar-wrapper .search-bar {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
  font: inherit;
  background-color: #E0E0E0;
}
.site-header .header-container .header-wrapper .search-bar-container .search-bar-wrapper .search-bar:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 1170px) {
  .site-header .header-container .header-wrapper .search-bar-container .search-bar-wrapper {
    width: 100%;
  }
}
.site-header .header-bottom-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
}
@media (max-width: 485px) {
  .site-header .header-bottom-container {
    display: none;
    border: none;
  }
}
.site-header .header-bottom-container .section-container {
  width: 1170px;
}
@media (max-width: 1170px) {
  .site-header .header-bottom-container .section-container {
    padding: 0 15px;
  }
}
.site-header .header-bottom-container .section-container .header-bottom {
  background-color: white;
  height: 61px;
  display: flex;
  justify-content: space-between;
}
.site-header .header-bottom-container .section-container .header-bottom .section {
  height: 100%;
  align-items: center;
}
.site-header .header-bottom-container .section-container .header-bottom .right {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 770px) {
  .site-header .header-bottom-container .section-container .header-bottom .right {
    justify-content: space-between;
    width: 100%;
  }
}
.site-header .header-bottom-container .section-container .header-bottom .right .element {
  background-color: #E0E0E0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-left: 10px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 770px) {
  .site-header .header-bottom-container .section-container .header-bottom .right .element {
    margin: 0;
  }
}
.site-header .header-bottom-container .section-container .header-bottom .left {
  display: flex;
  align-items: center;
}
@media (max-width: 770px) {
  .site-header .header-bottom-container .section-container .header-bottom .left {
    display: none;
  }
}
.site-header .header-bottom-container .section-container .header-bottom .left .icon-marker {
  height: 20px;
}
.site-header .header-bottom-container .section-container .header-bottom .left .icon-arrow-down {
  height: 8px;
}
.site-header .header-bottom-container .section-container .header-bottom .left * {
  margin-right: 10px;
}
@media (max-width: 1170px) {
  .site-header .header-container {
    width: 100%;
  }
  .site-header .header-container .header-wrapper {
    padding: 0 15px;
    height: 150px;
  }
  .site-header .header-container .header-wrapper .search-bar-container {
    order: 1;
    width: 100%;
    padding-bottom: 5px;
  }
}

.site-footer {
  background-color: #00AAAD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 970px;
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 15px 15px 0px 15px;
}
@media (max-width: 970px) {
  .footer-container {
    width: 100%;
  }
}
.footer-container div {
  padding: 0;
  padding-right: 15px;
}
.footer-container div h2 {
  font-size: 1em;
  font-weight: 700;
}
.footer-container div p {
  font-size: 0.9em;
  font-weight: 400;
}
.footer-container div * {
  margin-bottom: 20px;
}
.footer-container .payment-options {
  display: flex;
  justify-content: flex-start;
  padding: unset;
}
.footer-container .payment-options img {
  height: 35px;
  margin-right: 15px;
}
.footer-container .social {
  padding-right: 0 !important;
  display: flex;
  justify-content: flex-end;
}
.footer-container .social img {
  height: 30px;
  margin-left: 15px;
}
@media (max-width: 768px) {
  .footer-container .payment-options {
    justify-content: center;
  }
  .footer-container .payment-options img {
    margin: 15px;
  }
  .footer-container .social {
    justify-content: center;
  }
  .footer-container .social img {
    margin: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
