@import '../variables';
@import '../mixins';

.order {
    background: $color-surface;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 26px 32px;

    @media (max-width: $breakpoint-tablet) {
        padding: 13px 16px;
    }

    &:hover {
        border: 1px solid $color-secondary-light;
    }

    .order-info {
        display: contents;

        @media (max-width: $breakpoint-mobile) {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .order-number {
            font-weight: 600;
            font-size: 1.2rem;
        }

        .order-price {
            font-weight: 700;
            font-size: 1rem;
        }
    }
    .order-status {
        font-weight: 700;
        font-size: 1.2rem;
        
        &.done {
            color: $color-accent-green;
        }
        &.in-progress {
            color: $color-accent-orange;
        }
        &.cancelled {
            color: $color-accent-red;
        }
    }

    img {
        &:hover {
            cursor: pointer;
        }
    }
}