@import '../variables';

.forgot-password-page {
    display: flex;
    justify-content: center;

    .forgot-password-container {
        width: 100%;
        max-width: $max-width;

        padding: 0px 15px;
        margin-bottom: 300px;

        .heading {
            text-align: center;
            padding: 44px 0 34px 0px;

            font: {
                size: 2.5rem;
                weight: 700;
            }

            border: {
                top: 1px $color-grey-light solid;
                bottom: 2px $color-grey-light solid;
            }
        }

        .description {
            text-align: center;

            margin: {
                top: 60px;
                bottom: 80px;
            }
        }

        .forgot-password-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            form {
                width: 100%;
                max-width: 810px;

                display: flex;
                flex-direction: column;

                .inputs {
                    display: flex;
                    flex-direction: column;
                }

                .email,
                .send-btn {
                    font-size: 1.2em;
                    border-radius: 10px;
                    border-width: 1px;
                    border: 1px solid #afafaf;
                }

                .email {
                    background-color: $color-grey-light;
                    padding: 18px 0 18px 50px;
                }

                .send-btn {
                    background-color: $color-tiffany-blue;
                    color: white;

                    font-weight: 700;
                    padding: 18px 0;
                    font-size: 1.5em;
                    margin-top: 40px;
                    margin-bottom: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .cancel {
                    margin: 0 auto;
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: $color-tiffany-blue;
                    text-decoration: underline;
                }
            }
        }
    }
}