@import '../variables';
@import '../mixins';

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 0.9em;
    }

    .title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 1.3em;
    }

    .small-screen {
        display: none;
        text-align: center;

        @media (max-width: 767px) {
            display: block;
        }
    }

    .big-screen {
        display: block;

        @media (max-width: 767px) {
            display: none;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
        flex-grow: 1;

        @media (max-width: 767px) {
            width: 100%;
            height: 35vw;
            object-position: center 15%;

            object-fit: cover;
        }
    }
}

.banner {
    height: 80px;
    position: relative;
    @include center;

    @media (max-width: 767px) {
        height: 100px;

        h1 {
            font-weight: 700;

        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    h1 {
        position: absolute;
        color: white;
        z-index: 1;
        font-weight: 700;
        font-size: 1.3em;
        text-align: center;
        margin: 20px;

    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: center 60%;
        ;
    }
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 700;
        font-size: 1.3em;
        text-align: center;
        background-color: $color-grey-light;
        padding: 10px;
        display: inline-block;
        margin-bottom: 15px;
        width: 50%;
    }

    .categories-grid {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);

        .category {
            aspect-ratio: 4 / 3;
            width: 100%;
            position: relative;

            @media (max-width: 767px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                position: absolute;
                z-index: 1;
                font-weight: 700;
                font-size: 1.3em;
                margin: 25px;
                color: #231F20BF;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                position: absolute;
            }
        }
    }

    @media (max-width: 767px) {
        .categories-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .categories-grid .category p {
            font-weight: 500;
            margin: 0;
        }
    }
}

.brands {
    width: 100%;
    font-size: 0.9em;

    .brand-box {
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;

        img {
            max-height: 65px;
            width: 100%;
            max-width: 120px;
            height: auto;
            object-fit: contain;
            margin-bottom: 15px;
        }
    }
}

.overview {
    font-size: 0.9em;

    .overview-container {
        display: flex;

        .overview-box {
            display: flex;
            flex-direction: column;

            img {
                height: 40px;
                margin: 15px;
            }
        }
    }
}