@import '../variables';
@import '../mixins';

.product-sumup{
    width: 380px;
    gap: $gap-md;

    @media (max-width: $breakpoint-lg) {
      width: 100%;
      display: block;
    }
    .product-title{
      font-size: 24px;
      font-weight: 700; 
    }
    .delivery-select{
      font-size: 14px;
    }
    .product-desc{
      font-size: 16px;
    }
    .price{
      font-size: 32px;
      font-weight: 700; 

      span{
        font-size: 12px;
      }
    }
    .old-price{
      @include old-price;

      font-size: 14px;
      font-weight: 700; 
    }
}
.product-info-wrapper{
    display: flex;
    gap: 10px;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column; 
  }
}
.product-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    .row {
      margin: 0;
    }
  
    .image-row {
      display: flex;
      flex-wrap: nowrap;
  
      &.top-row{
        gap: 10px;
        
      }
      &.top-row img {
        width: calc(50% - 5px);
        height: auto;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
      
  
      &.bottom-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
  
        img {
          width: 100%;
          aspect-ratio: 1/0.9;
          height: auto;
          object-fit: cover;
        }
      }
    }
}
.carousel-container {
    position: relative;
    width: 100%;

    .carousel-item-wrapper {
        width: 100%;
        position: relative;

        .carousel-img {
            aspect-ratio: 1.5/1;
            width: 100%;
            object-fit: cover;
            display: block;

            @media (max-width: $breakpoint-mobile) {
                height: 300px;
            }
        }
    }

    .carousel-stepper {
        position: absolute;
        bottom: 8px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 2;

        .MuiMobileStepper-dotActive {
            background-color: $color-accent;
        }
    }
}

.add-to-basket-wrapper{
  height: 56px;
  @include flex-center;
  gap: $gap-sm;
  
  .input-number-wrapper{
    background-color: $color-surface;
    height: 100%;
    width: 150px;
    display: flex;
    border-radius: 10px;
    border: 1px solid $color-border-transparent;
    overflow: hidden;

    button{
      border: none;
      padding: 10px;
      font-size: 16px;
      background-color: initial;
      font-weight: bold;
      cursor: pointer;
    }
    input{
      width: 100%;
      text-align: center;
      font-size: 16px;
      border: none;
      background-color: initial;
      outline: none;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .button-add{
    background-color: $color-accent;
    border: none;
    color: $color-text-light;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 16px;
  }
}

.delivery-wrapper{
  display: flex;
  flex-direction: column;
  gap: $gap-md;

  .delivery-select-title{
    font-weight: bold;
  }
}