@import '../variables';

.profile {
    .heading {
        padding: 40px 0;
        font: {
            size: 2.5rem;
            weight: 700;
        }
    }

    .profile-section {
        display: flex;

        width: 100%;
        gap: 30px;

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
        }

        @media (max-width: $breakpoint-mobile) {
            gap: 15px;
        }

        .profile-info,
        .profile-actions {
            flex: 1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            background: white;
        }

        .profile-info {
            padding: 30px;

            @media (max-width: $breakpoint-mobile) {
                padding: 15px;
            }

            .profile-header {
                display: flex;
                gap: 42px;

                @media (max-width: $breakpoint-mobile) {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }

                img {
                    width: 100%;
                    max-width: 100px;
                }

                .profile-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 16px;

                    @media (max-width: $breakpoint-mobile) {
                        align-items: center;
                    }

                    .user-name {
                        font-weight: 700;
                        font-size: 1.4em;
                    }

                    .upload-photo {
                        color: $color-accent;
                        font-family: Raleway;
                        font-size: 1em;
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .contacts {
                margin-top: 40px;
                margin-left: 30px;

                @media (max-width: $breakpoint-mobile) {
                    margin-top: 10;
                    margin-left: 0;
                }

                div+div {
                    margin-top: 20px;
                }

                div {
                    display: flex;
                    justify-content: space-between;

                    span {
                        vertical-align: middle;
                    }

                    &>span:first-child {
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }
            }

            .profile-buttons {
                display: flex;
                justify-content: end;

                gap: 35px;

                margin-top: 60px;

                @media (max-width: $breakpoint-mobile) {
                    gap: 15px;
                }

                a {
                    text-align: center;
                    width: 100%;
                    max-width: 200px;

                    padding: 15px 0;

                    font-weight: 700;
                    font-size: 1.25em;

                    border-radius: 10px;
                    color: white;
                    background-color: $color-accent;
                }
            }
        }

        .profile-actions {
            padding: 30px;

            ul {
                margin: 0 auto;

                li {
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: $breakpoint-tablet) {
                        padding: 0px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 50px;

                        @media (max-width: $breakpoint-tablet) {
                            margin-bottom: 15px;
                        }
                    }

                    a {
                        font-weight: 700;
                        font-size: 1em;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    img {
                        max-width: 100px;

                        @media (max-width: $breakpoint-tablet) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}