@import '../variables';
@import '../mixins';

.reset-password-page {
    display: flex;
    justify-content: center;

    .reset-password-container {
        width: 100%;
        max-width: $max-width;

        padding: 0px 15px;
        margin-bottom: 300px;

        .heading {
            text-align: center;
            padding: 44px 0 34px 0px;
            font-size: 2.5rem;
            font-weight: 700;
            border-top: 1px $color-secondary-light solid;
            border-bottom: 2px $color-secondary-light solid;
        }

        .reset-password-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 60px;

            form {
                max-width: 570px;
                width: 100%;

                display: flex;
                flex-direction: column;

                @media (max-width: $breakpoint-tablet) {
                    width: 80%;
                }

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .inputs input {
                    font-size: 1.2em;
                    border-radius: 10px;
                    border-width: 1px;
                    border: 1px solid #afafaf;
                    background-color: $color-secondary-light;
                    @include input-style(100%);
                }

                .send-btn {
                    font-size: 1.2rem;
                    border-radius: 5px;
                    border-width: 1px;
                    border: 1px solid #afafaf;
                    height: 42px;
                    cursor: pointer;
                    font-weight: 700;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    background-color: $color-accent;
                    color: white;
                }

                .cancel {
                    margin: auto;
                    font-weight: 400;
                    font-size: 1.2rem;
                    color: $color-accent;
                    text-decoration: underline;
                }
            }
        }
    }
}