@import '../variables';
@import '../mixins';

.search-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $max-width) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
    }
}