.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.gap-medium {
    gap: 15px!important;
}

.gap-sm{
    gap: $gap-sm;
}
.gap-md{
    gap: $gap-md;
}
.gap-lg{
    gap: $gap-lg;
}

.cursor-pointer{
    cursor: pointer;
}
.no-border{
    border: none!important;
}
.font-bold{
    font-weight: bold;
}
.divider{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.288);
}

  .btn-continue{
    width: 100%;
    max-width: 450px;
    padding: 15px 0px;

    background-color: $color-accent;
    border: none;
    color: $color-text-light;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: darken($color-accent, 5%);
    }
  }
  .btn-cancel{
    text-decoration: underline;
    font-size: 1em;
    padding: 15px 0px;
    color: $color-accent;
    background-color: unset;
    border: none;
    width: 100%;
    font-weight: 600;
    max-width: 450px;
    cursor: pointer;
  }