@use "sass:color";
@use "bootstrap/scss/bootstrap-grid";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: $font-default;
    background-color: #F3F3F3;
}

main {
    width: 100%;
    flex: 1;
}

.site-footer {
    margin-top: auto;
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-row {
    display: flex;
    flex-direction: row;
}

.header-col {
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-default;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    background-color: white;

    .decorative-strip {
        background-color: $color-tiffany-blue;
        height: 36px;
        width: 100%;
    }

    .header-container {
        width: $max-width;

        .header-wrapper {
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 95px;
            padding: 0 15px;


            .header-item {
                display: flex;
                flex-direction: row;

                .site-logo {
                    height: 50px;
                }

                .icon {
                    height: 22px;
                }

                .icon-menu {
                    height: 24px;
                    width: 25px;
                    margin-right: 10px;
                }

                .section {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;

                    p {
                        @media (max-width: 770px) {
                            display: none;
                        }
                    }
                }
            }

            .left .section {
                margin-right: 15px;
            }

            .right {
                font-size: 0.9em;
                font-weight: 500;

                .section {
                    margin-left: 25px;
                }
            }

            .search-bar-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .search-bar-wrapper {
                    width: 535px;
                    height: 42px;
                    background-color: $color-grey-light;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;

                    .icon-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        padding-right: 10px;

                        .icon {
                            height: 20px;
                        }
                    }

                    .search-bar {
                        width: 100%;
                        height: 100%;
                        padding: 0 15px;
                        border: none;
                        font: inherit;
                        background-color: $color-grey-light;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    @media (max-width: $max-width) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .header-bottom-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #dbdbdb;

        @media (max-width: 485px) {
            display: none;
            border: none;
        }

        .section-container {
            width: $max-width;
            padding: 0 15px;

            .header-bottom {
                background-color: white;
                height: 61px;
                display: flex;
                justify-content: space-between;

                .section {
                    height: 100%;
                    align-items: center;
                }

                .right {
                    display: flex;
                    justify-content: flex-end;

                    @media (max-width: 770px) {
                        justify-content: space-between;
                        width: 100%;
                    }

                    .element {
                        background-color: $color-grey-light;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 15px;
                        margin-left: 10px;
                        border-radius: 5px;
                        font-family: $font-default;

                        @media (max-width: 770px) {
                            margin: 0;
                        }
                    }
                }

                .left {
                    display: flex;
                    align-items: center;

                    @media (max-width: 770px) {
                        display: none;
                    }

                    .icon-marker {
                        height: 20px;
                    }

                    .icon-arrow-down {
                        height: 8px;
                    }

                    * {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    @media (max-width: $max-width) {
        .header-container {
            width: 100%;

            .header-wrapper {
                height: 150px;

                .search-bar-container {
                    order: 1;
                    width: 100%;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

.site-footer {
    background-color: $color-tiffany-blue;
    @include center;
    width: 100%;
}

.footer-container {
    width: 970px;
    font-family: $font-default;
    color: white;
    padding: 15px 15px 0px 15px;

    @media (max-width: 970px) {
        width: 100%;
    }

    div {
        padding: 0;
        padding-right: 15px;

        h2 {
            font-size: 1em;
            font-weight: 700;
        }

        p {
            font-size: 0.9em;
            font-weight: 400;
        }

        * {
            margin-bottom: 20px;
        }
    }

    .payment-options {
        display: flex;
        justify-content: flex-start;
        padding: unset;

        img {
            height: 35px;
            margin-right: 15px;
        }
    }

    .social {
        padding-right: 0 !important;
        display: flex;
        justify-content: flex-end;

        img {
            height: 30px;
            margin-left: 15px;
        }
    }

    @media (max-width: 768px) {
        .payment-options {
            justify-content: center;

            img {
                margin: 15px;
            }
        }

        .social {
            justify-content: center;

            img {
                margin: 15px;
            }
        }
    }
}

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: 0.9em;
    }
    .title{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 1.3em;
    }
    .small-screen{
        display: none;
        text-align: center;
        @media (max-width: 767px) {
            display: block;
        }
    }
    .big-screen{
        display: block;
        @media (max-width: 767px) {
            display: none;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
        
        @media (max-width: 767px) {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
