<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jysk</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jysk.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="site-header">
        <div class="decorative-strip"></div>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="header-item left">
                    <div class="section">
                        <img class="site-logo" src="~/img/logo.png" alt="Logo">
                    </div>
                    <div class="section header-row">
                        <img class="icon-menu" src="~/img/menu.svg" alt="Icon">
                        <p>Menu</p>
                    </div>
                </div>
                <div class="search-bar-container">
                    <div class="search-bar-wrapper header-row">
                        <input class="search-bar" type="text" name="search" placeholder="Search item or category">
                        <div class="icon-container">
                            <img class="icon" src="~/img/search.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="header-item right">
                    <div class="section header-col">
                        <img class="icon" src="~/img/wishlist.png" alt="Icon">
                        <p>Обране</p>
                    </div>
                    <div class="section header-col">
                        <img class="icon" src="~/img/profile.svg" alt="Icon">
                        <p>Вхід</p>
                    </div>
                    <div class="section header-col">
                        <img class="icon" src="~/img/basket.svg" alt="Icon">
                        <p>Кошик</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-container">
            <div class="section-container">
                <div class="header-bottom header-row">
                    <div class="section left">
                        <img class="icon-marker" src="~/img/marker.svg" alt="Icon">
                        <span class="element">HYGGY Київ ТЦ Променада</span>
                        <img class="icon-arrow-down" src="~/img/arrow-down.svg" alt="Icon">
                    </div>
                    <div class="section header-row right">
                        <p class="element">Блог</p>
                        <p class="element">Магазини</p>
                        <p class="element">Питання-відповідь</p>
                        <p class="element">Робота</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="footer-container row">
            <div class="col-6 col-md-3 mb-4">
                <h2>Категорії товарів</h2>
                <p>Спальня</p>
                <p>Ванна</p>
                <p>Офіс</p>
                <p>Вітальня</p>
                <p>Кухня та їдальняext</p>
                <p>Зберігання</p>
                <p>Для вікон</p>
                <p>Для саду</p>
                <p>Для дому</p>
                <p>Усі категорії</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h2>Інформація</h2>
                <p>Зворотній зв’язок</p>
                <p>Магазини і графіки роботи</p>
                <p>Умови та положення</p>
                <p>Доставка</p>
                <p>Політика конфіденційності</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h2>Hyggy</h2>
                <p>Про нас</p>
                <p>Робота в Hyggy</p>
                <p>Підписатись на розсилку</p>
                <p>Блог</p>
                <p>B2B</p>
                <p>Корисні посилання</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h2>Центральний офіс</h2>
                <p>ТОВ “"</p>
                <p>м. ()</p>
                <p>вул. ()</p>
                <p>123456</p>
                <h2>HYGGY B2B</h2>
                <p>Тел: +380123456789</p>
                <p>Імейл: b2b@hyggy.com</p>
                <p>Зв'яжіться з нами</p>
                <h2>Зворотній зв’язок:</h2>
                <p>email@hyggy.com</p>
                <p>Тел: +380123456789 B2B</p>
                <p>Зв'яжіться з нами</p>
            </div>
            <div class="col-12 col-sm-6 payment-options">
                <img src="~/img/gpay.png" alt="Google Pay">
                <img src="~/img/mastercard.png" alt="Mastercard">
                <img src="~/img/visa.png" alt="Visa">
            </div>
            <div class="col-12 col-sm-6 social">
                <img src="~/img/facebook.svg" alt="Facebook">
                <img src="~/img/telegram.svg" alt="Telegram">
                <img src="~/img/instagram.svg" alt="Instagram">
                <img src="~/img/youtube.svg" alt="Youtube">
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
