@import '../variables';
@import '../mixins';

.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: $gap-md;
  
    a {
      color: initial;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  
    .breadcrumb-separator {
      width: 11px;
      height: auto;
      transform: rotate(-90deg);
    }
  }
  