@import '../variables';
@import '../mixins';

.delivery-selector {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: $color-surface;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    gap: $gap-md;
    cursor: pointer;

    input.visually-hidden {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    &.selected {
      border: 2px solid $color-accent;
    }

    .delivery-container {
      width: 60%;
      max-width: 200px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $gap-md;
      
      .indicator {
        width: 10px;
        height: 10px;
        padding: 0;
        margin: 0;
        border-radius: 10px;
        margin-right: auto;
        flex-shrink: 0;
        flex-grow: 0;

        &.available {
          background-color: $color-accent-green;
        }
        &.unavailable {
            background-color: $color-accent-red; 
        }
      }
      .status-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }