@import '../variables';
@import '../mixins';

.card {
    width: 100%;
    max-width: 390px;
    background-color: white;

    .card-image {
        width: 100%;
        overflow: hidden;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}


.recently-viewed {
    .heading {
        font: {
            size: 2em;
            weight: 700;
        }

        margin-bottom: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media (max-width: $breakpoint-tablet) {
            grid-template-columns: repeat(3, 1fr);
            ap: 20px;
        }

        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
}